smartHub_server/node_modules
smartHub_server/.env
smartHub_server/src/face_reg/youauth/node_modules
smartHub_app/node_modules
smartHub_app/.env
smarthub-login-api/node_modules
smarthub-login-api/.env
smarthub-login-api/.serverless
smartHub_app/android/app/build
smartHubServer
smartHub_app/android/app/build
smartHub_app/android/build
smartHub_app/android/app/smarthub.keystore
smartHub_app/android/.gradle/6.3/