smartHub_server/node_modules
smartHub_server/.env
smartHub_app/node_modules
smartHub_app/.env
smarthub_login-api/node_modules
smarthub_login-api/.env
smartHub_app/android/app/build
smartHubServer
smartHub_app/android/app/build
smartHub_app/android/build
smartHub_app/android/app/smarthub.keystore
smartHub_app/android/.gradle/6.3/